  <div class="main">

    {{object.make}} <br/>
    {{object.model}} <br/>
    {{object.year}} <br/>
    {{object.nickname}} <br/>
    {{object.id}} <br/>
    <hr/>
    api_data: {{api_data}} <br/>
    MPG: {{api_data.city_mpg}} <br/>
    CLASS: {{api_data.class}} <br/>
    COMBINATION: {{api_data.combination_mpg}} <br/>
    CYLINDERS: {{api_data.cylinders}} <br/>
    DISPLACEMENT: {{api_data.displacement}} <br/>
    DRIVE: {{api_data.drive}} <br/>
    FUEL_TYPE: {{api_data.fuel_type}} <br/>
    HIGHWAY_MPG: {{api_data.highway_mpg}} <br/>
    TRANSMISSION: {{api_data.transmission}} <br/>
    <hr/>
    <a href="/">Home</a> | <a href="/{{data.id}}/update">Update</a> | <a href="/{{data.id}}/delete">Delete</a>

  </div>