  <div class="main">

    {{object.make}} <br/>
    {{object.model}} <br/>
    {{object.year}} <br/>
    {{object.nickname}} <br/>
    {{object.id}} <br/>
    <hr/>
    {{api_data}} <br/>
    {{api_data.city_mpg}} <br/>
    <!-- {{car_data.class}} <br/>
    {{car_data.combination_mpg}} <br/>
    {{car_data.cylinders}} <br/>
    {{car_data.displacement}} <br/>
    {{car_data.drive}} <br/>
    {{car_data.fuel_type}} <br/>
    {{car_data.highway_mpg}} <br/>
    {{car_data.transmission}} <br/> -->
    <hr/>
    <a href="/">Home</a> | <a href="/{{data.id}}/update">Update</a> | <a href="/{{data.id}}/delete">Delete</a>

  </div>