

<div class="main">
    <a href="/">Home</a> | <a href="/{{object.id}}/update">Update</a> | <a href="/{{object.id}}/delete">Delete</a>
    
    <hr/>

    {{object.nickname}} <br/>
    {{object.make}}, {{object.model}} <br/>
    {{object.year}} <br/>
    {{object.pk}} <br/>
    CTX : {{test}}
    <hr/>

    api_data: {{api_dataset}} <br/>
  
    <hr/>
    {% if api_dataset%}
    {% for api_data in api_dataset %}
    MPG: {{api_data.city_mpg}} <br/>
    CLASS: {{api_data.class}} <br/>
    COMBINATION: {{api_data.combination_mpg}} <br/>
    CYLINDERS: {{api_data.cylinders}} <br/>
    DISPLACEMENT: {{api_data.displacement}} <br/>
    DRIVE: {{api_data.drive}} <br/>
    FUEL_TYPE: {{api_data.fuel_type}} <br/>
    HIGHWAY_MPG: {{api_data.highway_mpg}} <br/>
    TRANSMISSION: {{api_data.transmission}} <br/>
    MAKE: {{api_data.make}} <br/>
    MODEL: {{api_data.model}} <br/>
    YEAR: {{api_data.year}} <br/>
    <hr/>
    {% endfor %}
    {% else %}
    {{no_api_data_message}}
    {% endif %}

  </div>